.cardItem {
    display: flex;
    width:20rem ;
}


.cardStyle {
    background-color:rgba(19, 45, 70, 1);
    padding: 1rem;
    border-radius:6px;
    width: 15rem;
    margin-right: 0%;
    transition: 1s;
    
    
}
.cardStyle:hover {
    box-shadow: 
    0 0 10px rgba(0, 255, 255, 1),
    0 0 40px rgba(0, 255, 255, 0.7)
    ;
}
.itemImg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardText {
    color: rgb(133, 136, 135);
    text-align: center;
}

.cardItem section p {
    color: rgb(133, 136, 135);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}